{% load staticfiles %}
<div class="modal fade" id="add-student" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">패스파인더 : 선생님 등록</h4>
            </div>
            <div class="modal-body">
                <form action="." method="post" class="form-horizontal" id="new-teacher-form">
                   <div class="panel panel-primary " style="margin-top: 0px;">
                       <div class="panel-body">
                           <div class="form-group">
                               <label for="username" class="col-sm-3 control-label">
                                아이디
                               </label>
                               <div class="col-sm-9">
                                   <input type="text" id="username" name="username" class="form-control" placeholder="아이디를 입력해 주세요."
                                          value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                   />
                                   <div class="">
                                       <span class="text-danger form-error-message" id="username-error">{{ form.username.errors.0 }}</span>
                                   </div>
                               </div>
                           </div>
                           <div class="form-group">
                               <label for="last_name" class="col-sm-3 control-label">
                                선생님 이름
                               </label>
                               <div class="col-sm-9">
                                   <input type="text" name="first_name" id="first_name" class="form-control" placeholder="이름을 입력해 주세요."/>
                                   <div class="">
                                       <span class="text-danger form-error-message" id="first_name-error">{{ form.first_name.errors.0 }}</span>
                                   </div>
                               </div>
                           </div>
                           <div class="form-group">
                               <label for="password" class="col-sm-3 control-label">
                                비밀번호
                               </label>
                               <div class="col-sm-9">
                                   <input type="password" name="password" class="col-sm-9 form-control" placeholder="비밀번호를 입력해 주세요."
                                          value=""
                                   />
                                   <div class="">
                                       <span class="text-danger form-error-message" id="password-error">{{ form.password.errors.0 }}</span>
                                   </div>
                               </div>
                           </div>
                           <div class="form-group">
                               <label for="password2" class="col-sm-3 control-label">
                                비밀번호 확인
                               </label>
                               <div class="col-sm-9">
                                   <input type="password" name="password2" class="col-sm-9 form-control" placeholder="비밀번호를 다시 입력해 주세요."
                                          value=""
                                   />
                                   <div class="">
                                       <span class="text-danger form-error-message" id="password2-error">{{ form.password2.errors.0 }}</span>
                                   </div>
                               </div>
                           </div>
                           <div class="form-group">
                               <label for="is_admin" class="col-sm-3 control-label">
                                메인관리자
                               </label>
                               <div class="col-sm-9">
                                   {{ teacher_form.is_admin }}(<span class="small">체크 하시면 선생님 및 모든 수업 관리를 할 수 있습니다.</span>)
                                   <div class="">
                                       <span class="text-danger">{{ teacher_form.is_admin.errors.0 }}</span>
                                   </div>
                               </div>
                           </div>
                           <div class="form-group">
                               <label for="level" class="col-sm-3 control-label">
                                활성
                               </label>
                               <div class="col-sm-9">
                                   {{ teacher_form.is_activated }}
                                   <div class="">
                                       <span class="text-danger">{{ teacher_form.is_activated.errors.0 }}</span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="submit" value=" 회원 등록 " class="btn btn-primary" id="submit-form"> 등록 </button>
            </div>

        </div>
    <!-- /.modal-content -->
    </div>
<!-- /.modal-dialog -->
</div>