{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}패스파인더 : 학생 리스트{% endblock %}

{% block nav_sidebar %}
        {% include 'manager_side_menu.html' %}
{% endblock %}

{% block page_name %}
학생 관리
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">관리자 페이지 </a></li>
        <li class="active">학생 관리</li>
    </ol>
{% endblock %}

{% block content %}

        <div class="box">
            <div class="box-header">
                <button class="btn btn-primary add-student" data-toggle="modal" data-target="#add-student">학생 등록</button>
                <div class="box-tools" style="top:10px;">
                    <form action="." method="get" >
                        <ul class="list-inline">
                            <li>검색 :</li>
                            <li>
                                <select name="level" onchange="this.form.submit()">
                                    <option value="all">모든 수준</option>
                                    {% for item in level %}
                                    <option value="{{ item.id }}" {% if item.id == level_id %}selected{% endif %}>{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li>
                                <select name="grade" onchange="this.form.submit()">
                                    <option value="all">모든 학년</option>
                                    {% for item in grade %}
                                    <option value="{{ item.id }}" {% if item.id == grade_id %}selected{% endif %}>{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="box-body table-responsive">
{#                <ul class="list-inline pull-right">#}
{#                    <li>#}
{#                        <select name="level" onchange="">#}
{#                            <option value="all">모든 수준</option>#}
{#                            {% for item in level %}#}
{#                            <option value="{{ item.id }}">{{ item.title }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </li>#}
{#                    <li>#}
{#                        <select name="grade" onchange="">#}
{#                            <option value="all">모든 학년</option>#}
{#                            {% for item in grade %}#}
{#                            <option value="{{ item.id }}">{{ item.title }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </li>#}
{#                </ul>#}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-2">이름</th>
                            <th class="col-md-1">아이디</th>
                            <th class="col-md-2">학교</th>
                            <th class="col-md-1">학년</th>
                            <th class="col-md-1">학생 수준</th>
{#                            <th class="col-md-1">최근 시험</th>#}
                            <th class="col-md-1">상태</th>
                            <th class="col-md-1">등록일</th>
                            <th class="col-md-2"></th>
                        </tr>
                    {% for student in students %}
                        <tr class="student" data-student-id="{{ student.pk }}">
                            <td class="col-md-1">{{ student.pk }}</td>
                            <td class="col-md-2">{{ student.user.last_name }}{{ student.user.first_name }}</td>
                            <td class="col-md-1">{{ student.user.username }}</td>
                            <td class="col-md-2">{{ student.school_name }}</td>
                            <td class="col-md-1">{{ student.get_grade_display }}</td>
                            <td class="col-md-1">{{ student.get_level_display }}</td>
{#                            <td class="col-md-1">{{ student.get_latest_quiz.title|truncatechars:10 }}</td>#}
                            <td class="col-md-1">{% if student.is_activated %}활성{% else %}비활성{% endif %}</td>
                            <td class="col-md-1">{{ student.create_date|date:"Y.m.d" }}</td>
                            <td class="col-md-2">
                                <button class="btn btn-primary menu btn-xs" data-href="{% url 'quiz:show_member' student.id %}">보기</button>
                                <button class="btn btn-success menu btn-xs" data-href="{% url 'quiz:edit_member' student.id 'edit' %}">수정</button>
                                <button class="btn btn-danger menu btn-xs" data-href="{% url 'quiz:edit_member' student.id 'delete' %}">삭제</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="bg-info" colspan="9"> <p>등록 된 학생이 없습니다. </p></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'quiz/paginator.html' with paginator=students %}
            </div>
        </div>
{% include 'management/form_student.html' %}
<div class="row">
    <div class="col-md-12">

    </div>
</div>

{% endblock %}

{% block extra_foot %}
    <script type="application/javascript">
{#    $(".student").click(function(e) {#}
{#        var student_id = $(this).data('student-id');#}
{#        var url = '{% url 'quiz:show_member' 12345 %}';#}
{#        url = url.replace('12345', student_id);#}
{#        location.href = url;#}
{#    })#}
    $("#submit-form").click(function(e) {
        // 학생 회원 추가 폼 다이얼로그 팝업
        var data = $("#new-student-form").serialize();
        console.log(data)
        $.ajax({
            type: 'POST',
            url: ".",
            data: data,
            success: function(e) {
                if(e.status == "ERROR") {
                    for(var key in e) {
                        console.log(key)
                        $("#"+key+"-error").html(e[key]);
                    }
                } else if(e.status == "OK") {
                    location.href = ".";
                }
            },
            error: function(xhr, status, e) {
                console.log(e);
                console.log(status);
                console.log(xhr.responseJSONText);

            }
        })
    });
    $("#add-student").on("hidden.bs.modal", function(e) {
{#        console.log("close-form.!!!!!!!!!");#}
        $(".form-error-message").html("");
    })
    </script>
{% endblock %}