{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}패스파인더 : 강의 리스트{% endblock %}

{% block extra_css %}
<style type="text/css">
{#    .add-row {#}
{#        padding-left:18px;#}
{#        background:url({{ MEDIA_URL }}images/add.png) no-repeat left center;#}
{#    }#}
    .delete-row {
        display:block;
        margin:6px 0 0 0;
        padding-left:18px;
    }

</style>
{% endblock %}
{% block nav_sidebar %}
        {% include 'manager_side_menu.html' %}
{% endblock %}

{% block page_name %}
강의 관리
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">관리자 페이지 </a></li>
        <li class="active">강의 관리</li>
    </ol>
{% endblock %}

{% block content %}

        <div class="box">
            <div class="box-header">
                <button class="btn btn-primary add-student" data-toggle="modal" data-target="#add-student">강의 등록</button>
                <div class="box-tools" style="top:10px;">
                    <form action="." method="get" >
                        <ul class="list-inline">
                            <li>검색 :</li>
                            <li> 학년
                                <select name="grade" onchange="this.form.submit()">
                                    <option value="all">모든 학년</option>
                                    {% for item in grade %}
                                    <option value="{{ item.id }}" {% if item.id == grade_id %}selected{% endif %}>{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-3">강의 이름</th>
                            <th class="col-md-1">담당 선생님</th>
                            <th class="col-md-1">담당 학년</th>
                            <th class="col-md-1">시간표</th>
                            <th class="col-md-1">등록일</th>
                            <th class="col-md-2"></th>
                        </tr>
                    {% for teacher in teachers %}
                        <tr class="student" data-student-id="{{ teacher.pk }}">
                            <td class="col-md-1">{{ teacher.pk }}</td>
                            <td class="col-md-2">{{ teacher.user.last_name }}{{ teacher.user.first_name }}</td>
                            <td class="col-md-1">{{ teacher.user.username }}</td>
                            <td class="col-md-2">{% for item in teacher.get_my_grades %}
                                {{ item }}{% if not forloop.last %},{% endif %}
                                {% if forloop.counter0|divisibleby:2 == 0 %}<br />{% endif %}
                            {% endfor %}</td>
                            <td class="col-md-1">{% if teacher.is_activated %}활성{% else %}비활성{% endif %}</td>
                            <td class="col-md-1">{{ teacher.create_date|date:"Y.m.d" }}</td>
                            <td class="col-md-2">
                                <button class="btn btn-primary menu btn-xs" data-href="{% url 'quiz:show_teacher' teacher.id %}">보기</button>
                                <button class="btn btn-success menu btn-xs" data-href="{% url 'quiz:edit_teacher' teacher.id 'edit' %}">수정</button>
                                <button class="btn btn-danger menu btn-xs" data-href="{% url 'quiz:edit_teacher' teacher.id 'delete' %}">삭제</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="bg-info" colspan="9"> <p>등록 된 강의가 없습니다. </p></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'quiz/paginator.html' with paginator=students %}
            </div>
        </div>
{% include 'management/form_lecture.html'  %}
<div class="row">
    <div class="col-md-12">

    </div>
</div>

{% endblock %}

{% block extra_foot %}
    <script src="{% static 'js/jquery.formset.js' %}" type="application/javascript"></script>
    <script type="application/javascript">
{#    $(".student").click(function(e) {#}
{#        var student_id = $(this).data('student-id');#}
{#        var url = '{% url 'quiz:show_member' 12345 %}';#}
{#        url = url.replace('12345', student_id);#}
{#        location.href = url;#}
{#    })#}
    $("#submit-form").click(function(e) {
        // 학생 회원 추가 폼 다이얼로그 팝업
        var data = $("#new-student-form").serialize();
        console.log(data)
        $.ajax({
            type: 'POST',
            url: ".",
            data: data,
            success: function(e) {
                if(e.status == "ERROR") {
                    for(var key in e) {
                        console.log(key)
                        $("#"+key+"-error").html(e[key]);
                    }
                } else if(e.status == "OK") {
                    location.href = ".";
                }
            },
            error: function(xhr, status, e) {
                console.log(e);
                console.log(status);
                console.log(xhr.responseJSONText);

            }
        })
    });
    $("table.schedule-formset tbody tr").formset({
        addText: '일정 추가',
        deleteText: '삭제',
        beforeAdded: function(row, count) {
            return count < 3;
        },
        added: function(row) {
        }
    });
    </script>
{% endblock %}