{% load staticfiles %}
{# 객관식 다중 선택 #}
                    <p>
                        보기 : <span class="text-warning">적절한 답을 하나이상 선택하세요.</span>
                    </p>

                    <div class="btn-group " data-toggle="buttons" style="width:100%;">
                            <label class="btn  btn-default" style="border-radius: 6px;text-align: left;width:100%; ">
                                <input type="checkbox" id="question-{{ question.pk }}-1"
                                       autocomplete="off"
                                       value="a"
                                       name="answer-{{ question.pk }}">a. {{ example.ex_sentence_1 }}
                            </label>
                        <br />
                            <label class="btn  btn-default" style="border-radius: 6px;text-align: left; width:100%;">
                                <input type="checkbox" id="question-{{ question.pk }}-2"
                                       autocomplete="off"
                                       value="b"
                                       name="answer-{{ question.pk }}">b. {{ example.ex_sentence_2 }}
                            </label>
                        <br />
                            <label class="btn  btn-default"  style="border-radius: 6px;text-align: left; width:100%;">
                                <input type="checkbox" id="question-{{ question.pk }}-3"
                                       autocomplete="off"
                                       value="c"
                                       name="answer-{{ question.pk }}">c. {{ example.ex_sentence_3 }}
                            </label>
                        <br />
                            <label class="btn  btn-default"  style="border-radius: 6px;text-align: left; width:100%;">
                                <input type="checkbox" id="question-{{ question.pk }}-4"
                                       autocomplete="off"
                                       value="d"
                                       name="answer-{{ question.pk }}">d. {{ example.ex_sentence_4 }}
                            </label>
                            <label class="btn  btn-default"  style="border-radius: 6px;text-align: left; width:100%;">
                                <input type="checkbox" id="question-{{ question.pk }}-5"
                                       autocomplete="off"
                                       value="e"
                                       name="answer-{{ question.pk }}">e. {{ example.ex_sentence_5 }}
                            </label>
                    </div>
