 {% load staticfiles %}
                    <p>
                        보기 : <span class="text-warning">적절한 답을 하나만 선택하세요.</span>
                    </p>

                    <div class="btn-group " data-toggle="buttons" style="width:100%;">
                        {% if example.ex_sentence_1 != '' %}
                            <label class="btn  btn-default"
                                   style="border-radius: 6px;text-align: left;width:100%; margin-bottom: 2px;">
                                <input type="radio" id="question-{{ question.pk }}-1"
                                       autocomplete="off"
                                       value="a"
                                       name="answer-{{ forloop.counter }}">a. {{ example.ex_sentence_1 }}
                            </label>
                        {% endif %}
                        <br />
                        {% if example.ex_sentence_2 != '' %}
                            <label class="btn  btn-default"
                                   style="border-radius: 6px;text-align: left; width:100%; margin-bottom: 2px;">
                                <input type="radio" id="question-{{ question.pk }}-2"
                                       autocomplete="off"
                                       value="b"
                                       name="answer-{{ forloop.counter }}">b. {{ example.ex_sentence_2 }}
                            </label>
                        {% endif %}
                        <br />
                        {% if example.ex_sentence_3 != '' %}
                            <label class="btn  btn-default"
                                   style="border-radius: 6px;text-align: left; width:100%; margin-bottom: 2px;">
                                <input type="radio" id="question-{{ question.pk }}-3"
                                       autocomplete="off"
                                       value="c"
                                       name="answer-{{ forloop.counter }}">c. {{ example.ex_sentence_3 }}
                            </label>
                        {% endif %}
                        <br />
                        {% if example.ex_sentence_4 != '' %}
                            <label class="btn  btn-default"
                                   style="border-radius: 6px;text-align: left; width:100%; margin-bottom: 2px;">
                                <input type="radio" id="question-{{ question.pk }}-4"
                                       autocomplete="off"
                                       value="d"
                                       name="answer-{{ forloop.counter }}">d. {{ example.ex_sentence_4 }}
                            </label>
                        {% endif %}
                        {% if example.ex_sentence_5 != '' %}
                            <label class="btn  btn-default"
                                   style="border-radius: 6px;text-align: left; width:100%; margin-bottom: 2px;">
                                <input type="radio" id="question-{{ question.pk }}-5"
                                       autocomplete="off"
                                       value="e"
                                       name="answer-{{ forloop.counter }}">e. {{ example.ex_sentence_5 }}
                            </label>
                        {% endif %}
                    </div>
