{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load custom_tags %}

{% block title %}패스파인더 : 테스트 보기{% endblock %}

{% block extra_css %}
    .question{

		display:none;
	}

    body, .container {
        height: 100%;
    }

    .container {
        width: 95%;
{#        display: table;#}
    }
    .row {
        height: 100%;
{#        display: table-row;#}
    }

    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }

{% endblock %}

{% block body_class %}layout-top-nav{% endblock %}

{% block nav_header %}
    {% include 'header.html' %}
{% endblock %}

{% block nav_sidebar %}

{% endblock %}

{% block page_name %}
    테스트 : {{ exam.title }}
{% endblock %}
{% block breadcrumbs %}{% endblock %}



{% block content %}
    <div class="container">
    <form action="." method="post">
    {% csrf_token %}
        <input type="hidden" name="exam-key" value="{{ exam_key }}" />
    {% for question in exam.questions.all %}
        <div class="row question" id="question-id{{ forloop.counter }}"
             data-limit-time="{{ question.limit_time }}"
             data-question-id="{{ question.id }}"
        >
            <div class="box box-info">
                <div class="box-header">
                    <h4>[{{ forloop.counter }} / {{ total_questions }}] {{ question.title }}</h4>
                    <div class="box-tools" style="margin-top:15px;">
                        <p>시간 : <span id="timer-{{ forloop.counter }}" class="text-black">000</span>초 (제한시간 {{ question.limit_time }}초) </p>
                        <input type="hidden" name="question-{{ question.pk }}-time" id="question-{{ forloop.counter }}-time" value="0" />
                    </div>
                </div>
                <div class="box-body">
                    <pre style="height:200px; overflow:auto;">
                        {{ question.text|safe }}
                    </pre>
                    {% if question.answer_type == 1 %}
                        {% include 'exam/short_answer.html' with example=question.questionexample %}
                    {% elif question.answer_type == 2 %}
                        {% include 'exam/multiple_choice_multiple_select.html' with example=question.questionexample %}
                    {% elif question.answer_type == 3 %}
                        {% include 'exam/essay_question.html' with example=question.questionexample %}
                    {% else %}
                        {% include 'exam/multiple_choice_single_select.html' with example=question.questionexample %}
                    {% endif %}
                </div>
                <div class="box-footer">
                    <button class="btn btn-prev {% if forloop.counter == 1 %}btn-default{% else %}btn-primary{% endif %}"
                            data-prev="{{ forloop.counter|add:"-1" }}"
                            {% if forloop.counter == 1 %}disabled{% endif %}
                    >이전문제</button>
                    <button class="btn btn-next {% if forloop.counter == total_questions %}btn-default{% else %}btn-primary{% endif %}"
                            data-next="{{ forloop.counter|add:"1" }}"
                            {% if forloop.counter == total_questions %}disabled{% endif %}
                    >다음문제</button>
                    <button type="submit" class="btn btn-danger pull-right"
                           style="background-color: #dd4b39;border-color: #d73925;"
                            {% if forloop.counter < total_questions %}disabled{% endif %}
                           value="제출하기"
                    >제출하기</button>
                    <button class="btn btn-info question-explain pull-right"
                            id="explain-btn-{{ forloop.counter }}" data-explain="{{ question.pk }}" style="margin-right: 5px;"
                            >문제 해설보기</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </form>
    </div>
{% for question in exam.questions.all %}
    <div class="modal fade" id="explain-{{ question.pk }}"  role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ forloop.counter }}번 문제 해설</h4>
                </div>
                <div class="modal-body">
                    {% if question.explanations.video %}
                    {{ question.explanations.video }}
                    {% endif %}
                    {{ question.explanations.content|safe }}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block nav_footer %} {% endblock %}

{% block extra_foot %}
    {% include 'modal-alert.html' %}

    <script type="text/javascript">
        var ekey = "{{ exam_key }}";
        var total_questions = {{ total_questions }};
        var current_timer = undefined;
        var total_seconds = 0, current_seconds = 0;
        var current_qid = 0;

        function show_question(qid) {
            $(".question").hide();
            $("#question-id"+qid).show();

            current_qid = qid;
            current_seconds = 0;
            total_seconds = $("#question-id"+qid).data("limit-time");

{#            stop_timer();#}
            start_timer();
        }

        function update_timer() {
            if((current_seconds+10) == total_seconds) {  //total_seconds <= 10
                $("#timer-"+current_qid).removeClass("text-black");
                $("#timer-"+current_qid).addClass("text-red");

                $("#explain-"+current_qid).removeAttr("disabled");
            }

            time_string = ("00"+current_seconds).slice(-3);
            $("#timer-"+current_qid).html(time_string);
            $("#question-"+current_qid+"-time").attr('value', current_seconds);
        }

        function tick() {
            current_seconds += 1;

            update_timer();

            // 최대 10분
            if(current_seconds < 600)
                current_timer = window.setTimeout("tick();", 1000);
        }
        function stop_timer() {
            if(current_timer != undefined) {
                clearTimeout(current_timer);
                current_timer = undefined;
            }
        }
        function start_timer() {
            stop_timer();

            current_timer = window.setTimeout("tick();", 1000);

             $("#timer-"+current_qid).removeClass("text-red");
             $("#timer-"+current_qid).addClass("text-black");

             $("#explain-btn-"+current_qid).attr("disabled", "disabled");
        }

        function save_answer(data) {

        }

        $(".btn-prev").click(function(e) {
            e.preventDefault();
            e.preventBubble = true;
            var page = $(this).data('prev');
            show_question(parseInt(page));
            return false;
        });
        $(".btn-next").click(function(e) {
            e.preventDefault();
            e.preventBubble = true;

            // 현재 입력한 답을 기록해 둔다.

            var page = $(this).data('next');
            show_question(parseInt(page));
            return false;
        });

        $(".question-explain").click(function(e) {
            var id = $(this).data("explain");
            $("#explain-"+id).modal("show");
            return false;
        });
        $(document).ready(function() {
            show_question(1);
        })
    </script>

{% endblock %}