html,body {
    height:100%;
    width: 100%;
}

body {
    display: table;
}

.container {
    height: auto;
    min-height: 100%;
}

#content {
  padding-bottom: 50px;
}

#footer{
    background-color: #efefef;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #e7e7e7;
}

.panel-button {
    margin-top: 10px;
    margin-bottom: 20px;
}