container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "python manage.py createsu"
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pathfinder.settings.production"
    "PYTHONPATH": "/opt/python/current/app/pathfinder:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www_static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: pathfinder/wsgi.py
