{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
   {% block title %}Log-in{% endblock %}

{% block body_class %}{%  if not user.is_authenticated %}layout-top-nav{% endif %}{% endblock %}
{% block nav_sidebar %}
{% endblock %}

{% block nav_header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>패스파인더</b>{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block login_form %}
                <form class="form-signin" method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <p class="login-box-msg" style="color: red;">{{ form.non_field_errors }}</p>
                    {% endif %}
                    <div class="form-group has-feedback">
                        <input name="username" class="form-control" placeholder="아이디" value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        {% if form.username.errors %}
                            <p class="login-box-msg" style="color: red;">{{ form.username.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" placeholder="비밀번호" value="">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        {% if form.password.errors %}
                            <p class="login-box-msg" style="color: red;">{{ form.password.errors }}</p>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="rememberme">
                                <input type="checkbox" name="rememberme" id="rememberme" value="remember-me">Remember me
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block btn-flat">로그인</button>
                        </div>
                    </div>
                </form>
            {% endblock login_form %}

        </div>
    </div>
{% endblock %}