{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}패스파인더 영어 학원{% endblock title %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen" />
    {% block css %}
    {% endblock css %}

    {% block javascript %}
    {% endblock javascript %}
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <i class="glyphicon glyphicon-search"></i>패스파인더
                </a>
            </div>
            <ul class="nav navbar-nav navbar-text">
                <li class="active">{% block currentmenu %}Menu1{% endblock currentmenu %}</li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;">
                {% if request.user.is_authenticated %}
                    <li><a class="text-success" href="{% url 'accounts:logout' %}">로그 아웃</a></li>
                {% endif %}
            </ul>
    </nav>

    <div class="container" id="content">
        <div class="row">
        {% block content %}

        {% endblock content %}
        </div>
    </div>
    <div id="footer" class="navbar-fixed-bottom">&copy; 패스파인더</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block aftercontent %}
{% endblock aftercontent %}
</body>
</html>