    <div class="modal fade" id="confirm-test" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">패스파인더 : <b><span id="confirm-title"></span></b></h4>
                </div>
                <div class="modal-body">
                    <p id="confirm-test-message">테스트를 시작 하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary " id="confirm-test-ok">테스트 하기</button>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>