{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}

{% block title %}패스파인더{% endblock %}

{% block body_class %}{% endblock %}

{% block nav_header %}
    {% include '_main_header.html' %}
{% endblock %}

{% block nav_sidebar %}
        {% include 'manager_side_menu.html' %}
{% endblock %}
{% block page_name %}현황 {% now "Y-m-d" %}{% endblock %}
{% block currentmenu %}
    {%  if user.is_authenticated %}
            <strong>{{ user.username }}</strong>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-blue">
            <div class="inner">
              <h3>{{ today_tested_students|length }}<sup style="font-size: 20px">명</sup></h3>

              <p>오늘({% now "m월 d일" %})<br /> 테스트 참여자수</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
{#            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ this_month_tested_students|length }}<sup style="font-size: 20px">명</sup></h3>

              <p>이번달({% now "m" %}월)<br /> 테스트 참여자수</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
{#            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
            <div class="inner">
              <h3>0<sup style="font-size: 20px">명</sup></h3>

              <p>이번달({% now "m" %}월)<br /> 신규 회원 수</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
{#            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
          </div>
        </div>
        <div class="col-md-12">
            <div class="box box-danger col-md-12">
                <div class="box-header">
                    <h2>최근 테스트 참여 한 현황</h2>
                </div>
                <div class="box-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th class="col-md-2">이름</th>
                                <th class="col-md-4">테스트 이름</th>
                                <th class="col-md-2">테스트 수준</th>
                                <th class="col-md-3">날짜</th>
                                <th class="col-md-1">결과</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test in latest_tested_students %}
                                <tr>
                                    <td>{{ test.student.user.last_name }}{{ test.student.user.first_name }}</td>
                                    <td>{{ test.quiz.title }}</td>
                                    <td>{{ test.quiz.get_level_display }}</td>
                                    <td>{{ test.create_date|date:"Y.m.d H:s" }}</td>
                                    <td>{{ test.score|div:test.quiz.questions.all.count|mul:100|floatformat }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-red">테스트에 참여한 학생이 없습니다.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{#    <div class="box box-info col-md-12">#}
{#        <div class="box-header">#}
{#            <h2> </h2>#}
{#        </div>#}
{#        <div class="box-body">#}
{##}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block nav_footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">
    $("button.menu").click(function(e) {
        e.preventDefault();
        location.href = $(this).data("href");
    });
    </script>
{% endblock %}