{% load staticfiles %}

<div class="container">

    <div class="center-block" style="width:400px;max-width:100%;margin: 50px auto;">
        <p>
            <button class="btn btn-lg btn-block btn-primary menu" data-href="{% url 'quiz:list_member' %}">학생 관리</button>
        </p>
        <p>
            <button class="btn btn-lg btn-block btn-primary menu" data-href="{% url 'quiz:show_question_list' %}">
            문제 관리
            </button>
        </p>
        <p>
            <button class="btn btn-lg btn-block btn-primary menu" data-href="{% url 'quiz:show_quiz_list' %}">
            시험 관리
            </button>
        </p>
    </div>

</div>