{% extends 'base.html' %}
{% block title %}패스파인더{% endblock %}

{% block body_class %}{% endblock %}

{% block nav_header %}
    {% include '_main_header.html' %}
{% endblock %}

{% block nav_sidebar %}
        {% include 'manager_side_menu.html' %}
{% endblock %}
{% block currentmenu %}

    {%  if user.is_authenticated %}
            <strong>{{ user.username }}</strong>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger col-md-12">
                <div class="box-header">
                    <h2>테스트 참여 현황</h2>
                </div>
                <div class="box-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th class="col-md-2">이름</th>
                                <th class="col-md-4">테스트 이름</th>
                                <th class="col-md-2">테스트 수준</th>
                                <th class="col-md-3">날짜</th>
                                <th class="col-md-1">결과</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test in tested_students %}
                                <tr>
                                    <td>{{ test.student.user.last_name }}{{ test.student.user.first_name }}</td>
                                    <td>{{ test.quiz.title }}</td>
                                    <td>{{ test.quiz.get_level_display }}</td>
                                    <td>{{ test.create_date|date:"Y.m.d H:s" }}</td>
                                    <td>{{ test.score }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-red">테스트에 참여한 학생이 없습니다.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{#    <div class="box box-info col-md-12">#}
{#        <div class="box-header">#}
{#            <h2> </h2>#}
{#        </div>#}
{#        <div class="box-body">#}
{##}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block nav_footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">
    $("button.menu").click(function(e) {
        e.preventDefault();
        location.href = $(this).data("href");
    });
    </script>
{% endblock %}