{% extends 'base.html' %}
{% block title %}패스파인더{% endblock %}

{% block body_class %}{% endblock %}

{% block nav_header %}
    {% include '_main_header.html' %}
{% endblock %}

{% block nav_sidebar %}
        {% include 'manager_side_menu.html' %}
{% endblock %}
{% block currentmenu %}

    {%  if user.is_authenticated %}
            <strong>{{ user.username }}</strong>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger col-md-12">
                <div class="box-header">
                    <h2>테스트 참여 현황</h2>
                </div>
                <div class="box-body">
                    <table class="table-responsive">
                        <tr>
                            <td>이름</td>
                            <td>테스트 </td>
                            <td>시간</td>
                            <td>결과</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{#    <div class="box box-info col-md-12">#}
{#        <div class="box-header">#}
{#            <h2> </h2>#}
{#        </div>#}
{#        <div class="box-body">#}
{##}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block nav_footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">
    $("button.menu").click(function(e) {
        e.preventDefault();
        location.href = $(this).data("href");
    });
    </script>
{% endblock %}