{% load staticfiles %}

<div class="container">

    <div class="center-block" style="width:400px;max-width:100%;margin: 50px auto;">
        <p>
            <button class="btn btn-lg btn-block btn-primary menu" data-href="/test">테스트</button>
        </p>
        <p>
            <button class="btn btn-lg btn-block btn-primary menu" data-href="/">
                평가 관리
            </button>
        </p>
        <p>
            <button class="btn btn-lg btn-block btn-primary menu" data-href="{% url 'accounts:view_profile' %}">
                내 정보 관리
            </button>
        </p>

    </div>

</div>