{% load staticfiles %}

<div class="container">

    <div class="center-block" style="width:400px;max-width:100%;margin: 50px auto;">
        <p>
            <a class="btn btn-lg btn-block btn-primary">테스트</a>
        </p>
        <p>
            <a class="btn btn-lg btn-block btn-primary" href="">
                평가 관리
            </a>
        </p>
        <p>
            <a class="btn btn-lg btn-block btn-primary" href="">
                개인 정보 관리
            </a>
        </p>

    </div>

</div>