{% load adminlte_helpers %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{% avatar_url size=90 %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info" data-href="{% url 'accounts:view_profile' %}" onclick="location.href=$(this).data('href');">
                <p>{{ request.user.username }}({{ request.user.last_name }}{{ request.user.first_name }})</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        {% endblock %}
        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
        <ul class="sidebar-menu">
            {% block nav_links_outer %}
            <li class="header text-yellow">{% block nav_heading %}메 뉴{% endblock %}</li>

            {% block nav_links %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>테스트 </span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'exam:view_list' %}">
                                <i class="fa fa-user">테스트 리스트</i>
                            </a>
                        </li>

                    </ul>
                </li>
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
        </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>
{##}
{#<p>#}
{#            <button class="btn btn-lg btn-block btn-primary menu" data-href="{% url 'exam:view_list' %}">테스트</button>#}
{#        </p>#}
{#        <p>#}
{#            <button class="btn btn-lg btn-block btn-primary menu" data-href="/">#}
{#                평가 관리#}
{#            </button>#}
{#        </p>#}
{#        <p>#}
{#            <button class="btn btn-lg btn-block btn-primary menu" data-href="{% url 'accounts:view_profile' %}">#}
{#                내 정보 관리#}
{#            </button>#}
{#        </p>#}