{% extends 'base.html' %}
{% load mathfilters %}
{% block title %}패스파인더{% endblock %}

{% block body_class %}{% endblock %}

{% block nav_header %}
    {% include '_main_header.html' %}
{% endblock %}

{% block nav_sidebar %}
        {% include 'student_side_menu.html' %}
{% endblock %}

{% block page_name %}현황 {% now "Y-m-d" %}{% endblock %}

{% block breadcrumbs %}
{#    <ol class="breadcrumb">#}
{#        <li><a href="/">홈 </a></li>#}
{#    </ol>#}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info col-md-12">
                <div class="box-header">
                    <h2>최근 참여한 테스트 </h2>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="col-md-6">테스트 </th>
                                <th class="col-md-2">수준</th>
                                <th class="col-md-2">날짜</th>
                                <th class="col-md-2">결과</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test in tested_exam %}
                                <tr class="report" data-exam-id="{{ test.quiz.id }}">
                                    <td>{{ test.quiz.title }}</td>
                                    <td>{{ test.quiz.get_level_display }}</td>
                                    <td>{{ test.create_date|date:"Y.m.d H:s" }}</td>
                                    <td>{{ test.score|div:test.quiz.questions.all.count|mul:100}}%</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4" class="text-red">최근 참여한 테스트가 없습니다.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger col-md-12">
                <div class="box-header">
                    <h2>최근 등록 된 테스트 </h2>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="col-md-6">테스트 이름</th>
                                <th class="col-md-2">수준</th>
                                <th class="col-md-2">종료 날짜</th>
                                <th class="col-md-2">상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exam in exam_list %}
                            <tr class="exam" data-exam-id="{{ exam.pk }}">
                                <td class="col-md-6" id="exam-{{ exam.pk }}">{{ exam.title }}</td>
                                <td class="col-md-2">{{ exam.get_level_display }}</td>
                                <td class="col-md-2">{{ exam.closing_date|date:"Y.m.d H:s" }}</td>
                                <td>{% if exam.is_timeover %}
                                    <b class="label bg-red">종료</b>
                                    {% else %}
                                    <b class="label bg-info"> </b>
                                {% endif %}</td>
                            </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4" class="text-red">참여해야 할 테스트가 없습니다.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'confirm-dialog.html' %}
{% endblock %}

{% block nav_footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">
    $("button.menu").click(function(e) {
        e.preventDefault();
        location.href = $(this).data("href");
    });

    $(".report").click(function(e) {
        e.preventDefault();
        var exam_id = $(this).data("exam-id");
        var link = "{% url 'report:view_score' 12345 %}";
        link = link.replace('12345', exam_id);
        location.href = link;
    });

    var exam_id = 0;
    $(".exam").click(function(e) {
        exam_id = $(this).data("exam-id");
        var title = $("#exam-"+exam_id).text();
        $("#confirm-title").html(title);
        $("#confirm-test").modal('toggle');

{#        var yesno = window.confirm("<"+title+">\n\n테스트를 시작하시겠습니까?", "패스파인");#}
{#        if(yesno) {#}
{#            var link = "{% url 'exam:start_exam' 12345 %}";#}
{#            link = link.replace('12345', no);#}
{#            location.href = link;#}
{#        }#}
    });
    $("#confirm-test-ok").click(function(e) {
        e.preventDefault();
        $("#confirm-test").modal('toggle');
        var link = "{% url 'exam:take_exam' 12345 %}";
        link = link.replace('12345', exam_id);
        location.href = link;
    });

    </script>
{% endblock %}