{% extends 'adminlte/base.html' %}
{% block title %}패스파인더{% endblock %}

{% block body_class %}layout-top-nav{% endblock %}

{% block nav_header %}
    {% include 'header.html' %}
{% endblock %}

{% block nav_sidebar %} {% endblock %}
{% block currentmenu %}

    {%  if user.is_authenticated %}
         {% if user.is_staff %}
            <strong>관리자 페이지</strong>
        {% else %}
            <strong>{{ user.get_full_name }}</strong>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    {%  if user.is_authenticated %}
         {% if user.is_staff %}
            {% include 'manager_menu.html' %}
        {% else %}
            {% include 'student_menu.html' %}
        {% endif %}
    {% else %}
    <div class="jumbotron" >
        <div class="container">
            <h1>
                패스파인더
            </h1>
            <p>
                전국 최고 영어 전문 학원
            </p>
            <button class="btn btn-primary login" data-href="{% url 'accounts:login' %}">
                로그인
            </button>
            <button class="btn btn-success regist"  data-href="{% url 'accounts:regist' %}">회원 가입</button>
        </div>
    </div>

    {% endif %}
{% endblock %}

{% block nav_footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">
    $("button.login").click(function(e) {
        e.preventDefault();
        location.href = $(this).data("href");
    });
    $("button.regist").click(function(e) {
        e.preventDefault();
        location.href = $(this).data("href");
    })
    </script>
{% endblock %}