{% extends 'base.html' %}
{% block title %}패스파인더{% endblock %}

{% block body_class %}layout-top-nav{% endblock %}

{% block nav_header %}
    {% include 'header.html' %}
{% endblock %}

{% block nav_sidebar %}

{% endblock %}
{% block currentmenu %}

{% endblock %}
{% block content %}
    <div class="jumbotron bg-blue-gradient" >
        <div class="container">
            <h1>
                패스파인더
            </h1>
            <p>
                전국 최고 영어 전문 학원
            </p>
            <button class="btn btn-primary menu" data-href="{% url 'accounts:login' %}">
                로그인
            </button>
            <button class="btn btn-success menu"  data-href="{% url 'accounts:regist' %}">회원 가입</button>
        </div>
    </div>

{% endblock %}

{% block nav_footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">
    $("button.menu").click(function(e) {
        e.preventDefault();
        location.href = $(this).data("href");
    });
    </script>
{% endblock %}