{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}패스파인더 : 시험 작성 : 문제 추가{% endblock %}


{% block currentmenu %}
    문제 추가
{% endblock %}

{% block extra_head %}
    <style>
    .background-ecf0f5 {
        background-color: #ecf0f5;
    }
    </style>
{% endblock %}

{% block nav_header %}
{% endblock %}



{% block body %}

    <div class="wrapper" style="background-color: #ecf0f5;">
        <section class="content-wrapper" style="margin:0 15px 0 15px; ">
            <ul class="list-inline">
                <li >
                    <h4>{{ exam.title }}[{{ exam.get_level_display }}] 테스트 </h4>
                </li>
                <li class="pull-right"><button onclick="window.close();" class="btn" style="margin-top:5px;"> X </button></li>
            </ul>
            <form action="." method="get">
            <ul class="list-inline">
                <li>
                    <select name="level" onchange="this.form.submit()">
                        <option value="all">문제 수준 선택</option>
                        {% for item in level %}
                        <option value="{{ item.id }}" {% if item.id == level_id %}selected{% endif %}>{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <select name="question_type" onchange="this.form.submit()">
                        <option value="all">문제 유형 선택</option>
                        {% for item in question_type %}
                        <option value="{{ item.id }}" {% if item.id == question_type_id %}selected{% endif %}>{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    |
                </li>
                <li>
                    <button class="btn btn-primary append-all">선택한 문제 추가</button>
                </li>
            </ul>
            </form>
            <table class="table table-hover" style="height: 40%;">
                <thead>
                    <th class="">
                        <label>
                            <input type="checkbox" id="question-all" value="all" />전체선택
                        </label>
                    </th>
                    <th class="">문제</th>
                    <th class="">문제수준</th>
                    <th class="">제한시간</th>
                    <th class="">등록일</th>
                    <th class=""></th>
                </thead>
                {% for question in questions %}
                    <tr class="question" question_id="{{ question.pk }}">
                        <td class="">
                            <input type="checkbox" class="question-item" id="question-{{ question.pk }}" value="{{ question.pk }}" />
                        </td>
                        <td class="question-title" question_id="{{ question.pk }}">{{ question.title }}</td>
                        <td class="">{{ question.get_level_display }}</td>
                        <td class="">{{ question.limit_time }}</td>
                        <td class="">{{ question.create_date|date:"Y.m.d H:s" }}</td>
                        <td class="">
                            <button class="btn btn-xs btn-warning append" data-question-id="{{ question.pk }}">문제 추가</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="bg-info" colspan="5"> <p>조건에 맞는 문제가 없습니다. </p></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {% include 'quiz/paginator.html' with paginator=questions %}

            </div>
            <hr />
            <b>문제 보기</b>
            <iframe id="view_question" width="100%" frameborder="0" src="" style="border:1px solid gray;"></iframe>
        </section>

    </div>
{% endblock %}

{% block extra_foot %}
    <script type="application/javascript">
    $("#question-all").click(function(e) {
        var checked = document.getElementById("question-all").checked;
        console.log("question-all="+checked);
        var checkbox_list = document.getElementsByClassName("question-item");
        for(var i=0; i < checkbox_list.length; i++) {
            checkbox_list[i].checked = checked;
        }
    });
    $("input[class='question-item']").click(function(e) {
{#        console.log($(this).val());#}
        var checkbox_list = document.getElementsByClassName("question-item");
{#        console.log("length="+$("input[class='question-item']:checked").length);#}
        if($("input[class='question-item']:checked").length != checkbox_list.length) {
            var obj = document.getElementById("question-all");
            obj.checked = false;
        }
    });
    $(".question-title").click(function(e) {
        var no = $(this).attr("question_id");
        var url = "/manage/question/"+no+"/?no_ui=yes";
        $("#view_question").attr("src", url);
    });
    $("button.append-all").click(function(e) {
        e.preventDefault();
{#        alert("선택한 문제를 추가 한다.");#}
        var question_id = [];
        $("input[class='question-item']:checked").each(function() {
            question_id.push($(this).val());
        });

        opener.add_question({{ exam.pk }}, question_id);
    });
    $("button.append").click(function(e) {
        e.preventDefault();
{#        alert($(this).data("question-id")+"번 문제를 추가 한다.");#}
        var question_id = $(this).data("question-id");
        if(undefined != question_id)
            opener.add_question({{ exam.pk }}, [question_id]);
    });
    $(document).ready(function(e) {
        $("#view_question").height(document.body.scrollHeight * 0.4);
{#        alert($("#view_question").height());#}
    });
    </script>
{% endblock %}