{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}패스파인더 : 테스트 만들기{% endblock title %}
{% block extra_head %}
    <link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet" media="screen" />
{% endblock extra_head %}

{% block page_name %}
    테스트 작성
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">관리자 페이지 </a></li>
        <li><a href="{% url 'quiz:show_quiz_list' %}">테스트 관리</a></li>
        <li class="active">테스트 작성</li>
    </ol>
{% endblock %}

{% block content %}

{% if not pk or quiz%}

    <form action="" method="post" class="form-horizontal">
    {% csrf_token %}

        <div class="panel panel-primary" style="margin-top: 0px;">
            <div class="panel-body">

                <div class="form-group">
                    <label id="{{ form.title.id_for_label }}" class="col-sm-2 control-label">테스트 제목</label>
                    <div class="col-sm-10">
                        {{ form.title }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="{{ form.level.id_for_label }}" class="col-sm-2 control-label">테스트 수준</label>
                    <div class="col-sm-10">
                        {{ form.level }}
                    </div>
                </div>
                <div class="form-group">
                    <label id="{{ form.starting_date.id_for_label }}" class="col-sm-2 control-label">테스트 시작 날짜</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon " id="basic-addon1">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            {{ form.starting_date }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label id="{{ form.closing_date.id_for_label }}" class="col-sm-2 control-label">테스트 마감 날짜</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon " id="basic-addon1">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            {{ form.closing_date }}
                        </div>
                    </div>
                </div>
<!--
                <dl class="dl-horizontal">
                    <dt><label id="{{ form.title.id_for_label }}">테스트 제목</label></dt>
                    <dd>{{ form.title }}</dd>
                    <dt><label id="{{ form.level.id_for_label }}">테스트 수준</label></dt>
                    <dd>{{ form.level }}</dd>
                    <dt><label id="{{ form.starting_date.id_for_label }}">테스트 시작 날짜</label></dt>
                    <dd>
                        <div class="input-group">
                            <span class="input-group-addon " id="basic-addon1">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            {{ form.starting_date }}
                        </div>

                    </dd>
                    <dt><label id="{{ form.closing_date.id_for_label }}">테스트 마감 날짜</label></dt>
                    <dd>
                        <div class="input-group">
                            <span class="input-group-addon " id="basic-addon1">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            {{ form.closing_date }}
                        </div>
                    </dd>
                </dl>
// -->
            </div>
        </div>
        <div class="panel-button">
    {% if not quiz %}
        <!-- 신규 작성 -->
        <input type="submit" name="submit" value=" 시험 등록 " class="btn btn-primary"/>
        <a href="{% url 'quiz:show_quiz_list' %}" class="btn btn-default"> 취 소 </a>
    {% else %}
        <!-- 편집 -->
        <input type="submit" name="submit" value=" 시험 수정 " class="btn btn-primary"/>
        <a href="{% url 'quiz:show_quiz' quiz.pk %}" class="btn btn-default"> 취 소 </a>
    {% endif %}
        </div>
    </form>
{% else %}
    <div class="row">
        <div class="vertical-center">
            <span class="jumbotron" style="background-color: #ff0000;color: #fff;">
                존재 하지 않는 시험 입니다.
            </span>
        </div>

    </div>
{% endif %}

{% endblock content %}

{% block extra_foot %}
    <script type="application/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}" ></script>
    <script type="application/javascript">
        $(".starting_date").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
        $(".closing_date").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    </script>
{% endblock extra_foot %}