{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}패스파인더 : 문제 만들기{% endblock title %}

{% block nav_sidebar %}
        {% include 'manager_side_menu.html' %}
{% endblock %}


{% block page_name %}
    문제 작성
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">관리자 페이지 </a></li>
        <li><a href="{% url 'quiz:show_question_list' %}">문제 관리</a></li>
        <li class="active">문제 작성</li>
    </ol>
{% endblock %}
{% block content %}
{#    <div class="container">#}
{#        <div class="row" style="margin-top: 20px;">#}

{#        </div>#}
 {% if not pk or question%}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="panel panel-primary" style="margin-top: 0px;">
            <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>
                                <label for="{{ question_form.level.id_for_label }}">
                                {{ question_form.level.label }}
                                </label>
                                {{ question_form.level }}
                            </p>
                            <p>
                                <label for="{{ question_form.question_type.id_for_label }}">
                                {{ question_form.question_type.label }}
                                </label>
                                {{ question_form.question_type }}
                            </p>
                            <p>
                                <label for="{{ question_form.answer_type.id_for_label }}">
                                {{ question_form.answer_type.label }}
                                </label>
                                {{ question_form.answer_type }}
                            </p>
                            <p>
                                <label for="{{ question_form.title.id_for_label }}">
                                {{ question_form.title.label }}
                                </label>
                                {{ question_form.title }}
                            </p>
                            <p>
                                <label for="{{ question_form.text.id_for_label }}">
                                {{ question_form.text.label }}
                                </label>
                                {{ question_form.text }}
                            </p>
                        </div>
{#                    </div>#}
{#                    <div class="col-md-6">#}
                        <div class="form-group">
                            <p class="col-md-12">
                                <label for="{{ question_form.limit_time.id_for_label }}">
                                {{ question_form.limit_time.label }}
                                </label>
                                {{ question_form.limit_time }}
                            </p>
                            <p class="col-md-12">
                                <label for="{{ question_form.correct.id_for_label }}">
                                {{ question_form.correct.label }}
                                </label>
                                {{ question_form.correct }}
                            </p>
                            <label for="{{ question_example_form.ex_sentence_1.id_for_label }}"
                                   class="col-md-3 text-right">
                                {{ question_example_form.ex_sentence_1.label }}
                            </label>
                            <div class="col-md-9">
                                {{ question_example_form.ex_sentence_1 }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ question_example_form.ex_sentence_2.id_for_label }}"
                                   class="col-md-3 text-right">
                                {{ question_example_form.ex_sentence_2.label }}
                            </label>
                            <div class="col-md-9">
                                {{ question_example_form.ex_sentence_2 }}
                            </div>
                        </div>
                        <div class="form-group">
{#                            <div class="col-md-6 ">#}
                                <label for="{{ question_example_form.ex_sentence_3.id_for_label }}"
                                       class="col-md-3 text-right">
                                    {{ question_example_form.ex_sentence_3.label }}
                                </label>
{#                            </div>#}
                            <div class="col-md-9">
                                {{ question_example_form.ex_sentence_3 }}
                            </div>
                        </div>
                        <div class="form-group">
{#                            <div class="col-md-6 ">#}
                                <label for="{{ question_example_form.ex_sentence_4.id_for_label }}"
                                       class="col-md-3 text-right">
                                    {{ question_example_form.ex_sentence_4.label }}
                                </label>
{#                            </div>#}
                            <div class="col-md-9">
                                {{ question_example_form.ex_sentence_4 }}
                            </div>
                        </div>
                        <div class="form-group">
{#                            <div class="col-md-6 ">#}
                                <label for="{{ question_example_form.ex_sentence_5.id_for_label }}"
                                       class="col-md-3 text-right">
                                    {{ question_example_form.ex_sentence_5.label }}
                                </label>
{#                            </div>#}
                            <div class="col-md-9">
                                {{ question_example_form.ex_sentence_5 }}
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ explanation_form.as_p }}
                            </div>

                        </div>
                    </div>
            </div>
        </div>
        <div class="panel-button">
    {% if not question %}
        <!-- 신규 작성 -->
        <input type="submit" name="submit" value=" 문제 등록 " class="btn btn-primary"/>
        <button data-href="{% url 'quiz:show_question_list' %}" class="btn btn-default menu"> 취 소 </button>
        <button data-href="" class="btn btn-warning menu" disabled>미리보기</button>
    {% else %}
        <!-- 편집 -->
        <input type="submit" name="submit" value=" 문제 수정 " class="btn btn-primary"/>
        <button data-href="{% url 'quiz:show_question' question.pk %}" class="btn btn-default menu"> 취 소 </button>
        <button data-href="" class="btn btn-warning menu" disabled>미리보기</button>
    {% endif %}
        </div>
    </form>
{% else %}
    <div class="row">
        <div class="vertical-center">
            <span class="jumbotron" style="background-color: #ff0000;color: #fff;">
                존재 하지 않는 문제 입니다.
            </span>
        </div>

    </div>
{% endif %}
{#    </div>#}
{% endblock content %}

{% block extra_foot %}
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script type="text/javascript">
CKEDITOR.replace('id_text');
</script>
{% endblock %}