{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}패스파인더 문제 : {{ question.title }}{% endblock title %}

{% block nav_sidebar %}
        {% include 'manager_side_menu.html' %}
{% endblock %}


{% block page_name %}
    문제 : {{ question.title }}
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">관리자 페이지 </a></li>
        <li><a href="{% url 'quiz:show_question_list' %}">문제 관리</a></li>
        <li class="active">문제 </li>
    </ol>
{% endblock %}

    {% block content %}
        <div class="panel panel-primary" style="margin-top: 0px;">
                <div class="panel-body">
                        <div class="col-md-7">
                            <dl class="dl-horizontal">
                                <dt>문제 수준</dt>
                                <dd>
                                    {{ question.get_level_display }}
                                </dd>
                                <dt>문제 유형</dt>
                                <dd>
                                    {{ question.get_question_type_display }}
                                </dd>
{#                                <dt>문제</dt>#}
{#                                <dd>#}
{#                                    {{ question.title }}#}
{#                                </dd>#}
                                <dt>지문</dt>
                                <dd>
                                    <pre class="prettyprint">
                                        {{ question.text|safe }}
                                    </pre>
{#                                    <div style="height: 400px; overflow-y: scroll; border: 1px solid gray;">#}
{#                                        #}
{#                                    </div>#}
                                </dd>
                            </dl>
                        </div>
    {#                    <div class="col-md-1"> </div>#}
                        <div class="col-md-5">
                            <dl class="dl-horizontal">
                                <dt>제한 시간</dt>
                                <dd>
                                    {{ question.limit_time }}초
                                </dd>
                                <dt>정답 번호</dt>
                                <dd>
                                    {{ question.correct }}
                                </dd>
                                <dt>보기</dt>
                                <dd>
                                    <p>1. {{ question.questionexample.ex_sentence_1 }}</p>
                                    <p>2. {{ question.questionexample.ex_sentence_2 }}</p>
                                    <p>3. {{ question.questionexample.ex_sentence_3 }}</p>
                                    <p>4. {{ question.questionexample.ex_sentence_4 }}</p>
                                    <p>5. {{ question.questionexample.ex_sentence_5 }}</p>
                                </dd>
                            </dl>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>동영상 설명</dt>
                                <dd>
                                    {% if question.explanations.video %}
                                        {{ question.explanations.video }}
                                    {% else %}
                                        없음
                                    {% endif %}
                                </dd>
                                <dt>설명</dt>
                                <dd>
                                    <pre style="height:100px; width:auto;">{{ question.explanations.content }}</pre>
                                </dd>
                            </dl>
                        </div>
                </div>
                <div class="panel-footer">
                    {% if no_ui != 'yes' %}
                    <div class="panel-button">
                            <button data-href="{% url 'quiz:edit_question' question.id %}" class="btn btn-primary menu">문제 편집</button>
                            <button data-href="{% url 'quiz:delete_question' question.id %}" class="btn btn-danger menu">문제 삭제</button>
                            <button data-href="{% url 'quiz:show_question_list' %}" class="btn btn-default menu">문제 리스트</button>
                    </div>
                    {% endif %}
                </div>

            </div>
    {% endblock content %}

