{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}문제 은행 : 문제 리스트{% endblock %}
{% block css %}
{% endblock css %}

{% block currentmenu %}
문제 은행
{% endblock %}

{% block content %}
{#    <div class="container">#}
{#        <div class="row" style="margin-top: 20px;">#}
            <ol class="breadcrumb">
                <li><a href="/">관리자 페이지 </a></li>
                <li class="active">문제 은행</li>
            </ol>
{#        </div>#}
        <div class="content-wrapper">
            <ul class="list-inline">
                <li ><h4>문제 은행</h4></li>
                <li class=""><button class="btn btn-danger menu" data-href="{% url 'quiz:create_question' %}"> 문제 작성 </button></li>
            </ul>
            <table class="table table-hover">
                <thead>
                    <th class="col-md-1">#</th>
                    <th class="col-md-9">문제</th>
                    <th class="col-md-1">문제수준</th>
                    <th class="col-md-1">제한시간</th>
                </thead>
                {% for question in questions %}
                    <tr class="question" question_id="{{ question.pk }}">
                        <td class="col-md-1"><a href="{% url 'quiz:show_question' question.pk %}">{{ question.pk }}</a> </td>
                        <td class="col-md-9">{{ question.title }}</td>
                        <td class="col-md-1">{{ question.get_level_display }}</td>
                        <td class="col-md-1">{{ question.limit_time }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="bg-info" colspan="3"> <p>등록 된 문제가 없습니다. </p></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {% include 'quiz/paginator.html' with paginator=questions %}
            </div>
        </div>

{#    </div>#}
{% endblock %}

{% block extra_foot %}
    <script type="application/javascript">
    $(".question").click(function(e) {
        var no = $(this).attr("question_id");
        var link = "{% url 'quiz:show_question' 12345 %}";
        link = link.replace('12345', no);
        location.href = link;
    })
    </script>
{% endblock %}