{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}문제 은행 : 문제 리스트{% endblock %}
{% block css %}
{% endblock css %}

{% block nav_sidebar %}
        {% include 'manager_side_menu.html' %}
{% endblock %}

{% block page_name %}
    문제 은행
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">관리자 페이지 </a></li>
        <li class="active">문제 은행</li>
    </ol>
{% endblock %}

{% block content %}
            <form action="." method="get">
            <ul class="list-inline">
                <li>검색 : </li>
                <li>
                    <select name="level" onchange="this.form.submit()">
                        <option value="all">문제 수준 선택(all)</option>
                        {% for item in level %}
                        <option value="{{ item.id }}" {% if item.id == level_id %}selected{% endif %}>{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <select name="question_type" onchange="this.form.submit()">
                        <option value="all">문제 유형 선택(all)</option>
                        {% for item in question_type %}
                        <option value="{{ item.id }}" {% if item.id == question_type_id %}selected{% endif %}>{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    |
                </li>
                <li class=""><button class="btn btn-primary menu" data-href="{% url 'quiz:create_question' %}"> 문제 작성 </button></li>
            </ul>
            </form>
            <div class="box">
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                            <th class="col-md-1">#</th>
                            <th class="col-md-6">문제</th>
                            <th class="col-md-1">문제수준</th>
                            <th class="col-md-1">문제유형</th>
                            <th class="col-md-1">제한시간</th>
                            <th class="col-md-1">사용횟수</th>
                            <th class="col-md-1">정답율</th>
                        </thead>
                        {% for question in questions %}
                            <tr class="question" question_id="{{ question.pk }}">
                                <td><a href="{% url 'quiz:show_question' question.pk %}">{{ question.pk }}</a> </td>
                                <td >{{ question.title }}</td>
                                <td >{{ question.get_level_display }}</td>
                                <td >{{ question.get_question_type_display }}</td>
                                <td >{{ question.limit_time }}</td>
                                <td >{{ question.get_used_count }}</td>
                                <td>{{ question.get_percent_ratio|floatformat }}%</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="bg-info" colspan="7"> <p>등록 된 문제가 없습니다. </p></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div>
                        {% include 'quiz/paginator.html' with paginator=questions %}
                    </div>
                </div>
            </div>

{% endblock %}

{% block extra_foot %}
    <script type="application/javascript">
    $(".question").click(function(e) {
        var no = $(this).attr("question_id");
        var link = "{% url 'quiz:show_question' 12345 %}";
        link = link.replace('12345', no);
        location.href = link;
    })
    </script>
{% endblock %}