{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}문제 만들기{% endblock title %}
{% block css %}
<style>
    .vertical-center {
  min-height: 80%;  /* Fallback for vh unit */
  min-height: 80vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;

  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.

     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}


</style>
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <ol class="breadcrumb">
                <li><a href="/">관리자 페이지 </a></li>
                <li><a href="{% url 'quiz:show_quiz_list' %}">문제 관리</a></li>
                <li class="active">문제 작성</li>
            </ol>
        </div>
 {% if not pk or question%}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="panel panel-primary" style="margin-top: 0px;">
            <div class="panel-body">
{#                <div class="row">#}
                    <div class="col-md-6">
                        <div class="form-group">
                            <p>
                                <label for="{{ question_form.level.id_for_label }}">
                                {{ question_form.level.label }}
                                </label>
                                {{ question_form.level }}
                            </p>
                            <p>
                                <label for="{{ question_form.title.id_for_label }}">
                                {{ question_form.title.label }}
                                </label>
                                {{ question_form.title }}
                            </p>
                            <p>
                                <label for="{{ question_form.text.id_for_label }}">
                                {{ question_form.text.label }}
                                </label>
                                {{ question_form.text }}
                            </p>
{#                            <p>#}
{#                                <label for="{{ question_form.limit_time.id_for_label }}">#}
{#                                {{ question_form.limit_time.label }}#}
{#                                </label>#}
{#                                {{ question_form.limit_time }}#}
{#                            </p>#}
{#                            <p>#}
{#                                <label for="{{ question_form.correct.id_for_label }}">#}
{#                                {{ question_form.correct.label }}#}
{#                                </label>#}
{#                                {{ question_form.correct }}#}
{#                            </p>#}
{#                            {{ question_form.as_p }}#}
                        </div>
                    </div>
{#                    <div class="col-md-1"> </div>#}
                    <div class="col-md-6">
                        <div class="form-group">
                            <p class="col-md-12">
                                <label for="{{ question_form.limit_time.id_for_label }}">
                                {{ question_form.limit_time.label }}
                                </label>
                                {{ question_form.limit_time }}
                            </p>
                            <p class="col-md-12">
                                <label for="{{ question_form.correct.id_for_label }}">
                                {{ question_form.correct.label }}
                                </label>
                                {{ question_form.correct }}
                            </p>
                            <label for="{{ question_example_form.ex_sentence_1.id_for_label }}"
                                   class="col-md-5 text-right">
                                {{ question_example_form.ex_sentence_1.label }}
                            </label>
                            <div class="col-md-7">
                                {{ question_example_form.ex_sentence_1 }}
                            </div>
                        </div>
                        <div class="form-group">
{#                            <div class="col-md-6 ">#}
                                <label for="{{ question_example_form.ex_sentence_2.id_for_label }}"
                                       class="col-md-5 text-right">
                                    {{ question_example_form.ex_sentence_2.label }}
                                </label>
{#                            </div>#}
                            <div class="col-md-7">
                                {{ question_example_form.ex_sentence_2 }}
                            </div>
                        </div>
                        <div class="form-group">
{#                            <div class="col-md-6 ">#}
                                <label for="{{ question_example_form.ex_sentence_3.id_for_label }}"
                                       class="col-md-5 text-right">
                                    {{ question_example_form.ex_sentence_3.label }}
                                </label>
{#                            </div>#}
                            <div class="col-md-7">
                                {{ question_example_form.ex_sentence_3 }}
                            </div>
                        </div>
                        <div class="form-group">
{#                            <div class="col-md-6 ">#}
                                <label for="{{ question_example_form.ex_sentence_4.id_for_label }}"
                                       class="col-md-5 text-right">
                                    {{ question_example_form.ex_sentence_4.label }}
                                </label>
{#                            </div>#}
                            <div class="col-md-7">
                                {{ question_example_form.ex_sentence_4 }}
                            </div>
                        </div>
                        <div class="form-group">
{#                            <div class="col-md-6 ">#}
                                <label for="{{ question_example_form.ex_sentence_5.id_for_label }}"
                                       class="col-md-5 text-right">
                                    {{ question_example_form.ex_sentence_5.label }}
                                </label>
{#                            </div>#}
                            <div class="col-md-7">
                                {{ question_example_form.ex_sentence_5 }}
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-12">
                                {{ explanation_form.as_p }}
                            </div>

                        </div>
                    </div>
{#                </div>#}
            </div>
        </div>

    {% if not question %}
        <!-- 신규 작성 -->
        <input type="submit" name="submit" value=" 문제 등록 " class="btn btn-primary"/>
        <a href="{% url 'quiz:show_question_list' %}" class="btn btn-default"> 취 소 </a>
    {% else %}
        <!-- 편집 -->
        <input type="submit" name="submit" value=" 문제 수정 " class="btn btn-primary"/>
        <a href="{% url 'quiz:show_question' question.pk %}" class="btn btn-default"> 취 소 </a>
    {% endif %}
    </form>
{% else %}
    <div class="row">
        <div class="vertical-center">
            <span class="jumbotron" style="background-color: #ff0000;color: #fff;">
                존재 하지 않는 문제 입니다.
            </span>
        </div>

    </div>
{% endif %}
    </div>
{% endblock content %}